.page-wrap {
  width: 1000px;
  margin: auto;
}

img {
  height: 300px;
  width: 300px;
  margin: 10px;
  border: blue dotted 5px;
}

#picSection {
  float: left;
}

button {
  border: green dotted 3px;
  clear: both;
}

#user-data {
  clear: both;
  border: dotted orange 1px;
  width: 100%;
  height: 300px;

}
